<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>NotesApp</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css"
      type="text/css"
      media="all"
    />
  </head>
  <body>
    {% block body %} {% endblock %}
  </body>
  <footer class="footer">
    <div class="content has-text-centered">
      <p><strong>MyNotes</strong> by n0ob.</p>
    </div>
  </footer>
</html>
